DB_USER = your_username
DB_PASSWORD = your_password
DB_HOST = 127.0.0.1
DB_PORT = 3306
DB_NAME = comp30830_bikes

JCDECAUX_API_KEY = your_jcdecaux_key
JCDECAUX_CONTRACT = dublin
JCDECAUX_STATIONS_URI = https://api.jcdecaux.com/vls/v1/stations

OPENWEATHER_API_KEY = your_openweather_key
OPENWEATHER_LAT = 53.3498
OPENWEATHER_LON = -6.2603

CURRENT_URL = https://api.openweathermap.org/data/2.5/weather
HOURLY_4D_URL = https://pro.openweathermap.org/data/2.5/forecast/hourly
DAILY_16D_URL = https://api.openweathermap.org/data/2.5/forecast/daily

JCDECAUX_SCRAPE_INTERVAL = 300
OPENWEATHER_SCRAPE_INTERVAL = 600
MAIN_LOOP_SLEEP = 30

GOOGLE_MAPS_API_KEY = your_google_maps_key